main {
    width: 100vw;
    height: fit-content;
    max-width: 1440px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

@media(max-width: 1600px) {
    main {
        width: 95vw;
    }
}