.container {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    overflow: hidden;
}

.container-mobile {
    display: none;
}

.fill, .selected, .page {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(64, 40, 36, 0.95);
    font-weight: bold;
    font-size: 1.2rem;
    border-left: 1px solid rgba(236, 208, 166, 0.7);
    border-right: 1px solid rgba(236, 208, 166, 0.7);
}

.selected, .page {
    cursor: pointer;
}

.fill, .page {
    background-color: rgb(255, 230, 195);
}

.fill {
    cursor: default;
}

.selected {
    background-color:rgb(255, 230, 195);
    border-top: 7px solid rgba(254, 192, 79, 0.95);
    z-index: 3;
    padding-bottom: 7px;
}

.page:hover, .selected:hover {
    background-color: rgb(255, 230, 195, 0.9);
}

.page:active, .selected:active {
    background-color: rgba(255, 230, 195, 0.70);
}

@media(max-width: 800px) {
    .fill, .selected, .page {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
    .selected {
        border-top: 5.8px solid rgba(254, 192, 79, 0.95);
        padding-bottom: 5.8px;
    }
}

@media(max-width: 600px) {
    .container {
        display: none;
    }

    .container-mobile {
        display: flex;
        align-items: center;
        width: 80vw;
    }

    .page-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 230, 195, 0.6);
        color: rgba(64, 40, 36, 0.95);
        width: 70vw;
        height: 40px;
        font-weight: bold;
        font-size: 18px;
    }

    .change-page {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 230, 195, 0.75);
        color: rgba(64, 40, 36, 0.95);
        font-size: 26px;
        font-weight: 500;
        cursor: pointer;
        padding-bottom: 3px;
    }

    .change-page:hover {
        background-color: rgb(255, 230, 195, 0.7);
    }

    .disabled {
        color: rgba(64, 40, 36, 0.45);
        background-color: rgba(223, 205, 180, 0.75);
        cursor: default;
    }

    .disabled:hover {
        background-color: rgba(223, 205, 180, 0.75);
    }
}