.image img {
    width: 100%;
}

.title {
    margin-top: 10px;
    color: rgba(64, 40, 36, 0.95);
    font-weight: 700;
}

.author {
    margin-top: 8px;
    color: rgba(77, 44, 38, 0.8);
    font-weight: 500;
    font-size: 18px;
}