.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}

.icon {
    font-size: 10rem;
    height: fit-content;
    width: fit-content;
    color: rgba(244, 215, 175, 0.5);
}

.text {
    margin-top: 4vh;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: rgba(244, 215, 175, 0.7);
    text-align: center;
}

@media(max-width: 600px) {
    .container {
        margin-top: 6vh;
    }
    .text {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    .icon {
        font-size: 7rem;
    }
}