<div class="loading">
    <div class="image-space">
        <div class="loading-image"></div>
    </div>
    <div class="info">
        <div class="line"></div>
        <div class="info-main">
            <div class="loading-title"></div>
            <div class="loading-date"></div>
            <div class="loading-artist"></div>
            <div class="loading-artist"></div>
        </div>
        <div class="data">
            <div class="loading-description"></div>
        </div>
    </div>
</div>
