.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
    height: 90px;
    width: 100%;
    background-color: rgba(64, 40, 36, .8);
    backdrop-filter: blur(2px);
}

.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    line-height: 1.2;
    letter-spacing: 4px;
    padding-left: 4px;
    filter: drop-shadow(-4px -4px 4px #0000004a);
    font-family: 'Knewave', sans-serif;
    font-size: max(28px, min(4vw, 24px));
    background: radial-gradient(rgb(254,192,79),rgba(254,192,79, 0.75));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

@media(max-width: 1600px) {
    .container {
        width: 95vw;
    }
}

@media(max-width: 800px) {
    .wrapper {
        height: 80px;
    }
}

@media(max-width: 600px) {
    .wrapper {
        height: 70px;
    }
    .logo {
        display: none;
    }
}